.badge {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 20px; 
  font-weight: bold;
  border: 2px solid transparent;

  &__icon {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;

    width: 20px;  
    height: 20px;  

    &Img {  
      max-width: 100%; 
      height: auto;    
    }
  }

  &__text {  
    color: inherit; 
  }
}


.badge--variant1 {  
  background-color: #000; 
  border: 2px solid #fff; 

  .badge__text {
    color: #fff; 
  }
}

.badge--variant2 { 
  background-color: #fff; 
  border: 2px solid #000; 

  .badge__text {
    color: #000; 
  }
}