.subtitle {
  margin: 8px;
  &--variant1 {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
  }
  &--variant2 {
    color: #fff;
  }
  &.uppercase {
    text-transform: uppercase;
  }
}