.title {
  margin: 0;
  text-transform: none;
  &--variant1 {
    color: #333;
    text-transform: uppercase;
  }

  &--variant2 {
    text-transform: capitalize;
    color: #eee;
  }

  &--variant3 {
    color: #666;
  }
}